@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    font-family: 'Poppins', sans-serif;
}
.Navbar{
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    height: 100px;
    background: #f8f7f7;
    z-index: 9;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    line-height: 58px;
    text-decoration: none;
    color: #383838;
    height: 60px;
    margin-left: 50px;
    opacity: 0.9;
}
.logo:hover{
    opacity: 1;
    color: #383838;
}
.nav-items{
    display: flex;
    align-items: center;
}
.search{
    width: 500px;
    display: flex;
}
.search-box{
    width: 60%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    background: none;
    color: #a9a9a9;
    opacity: 0.5;
    font-size: 12px;
}
.search-btn{
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #fff;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.search-btn::placeholder{
    color: #a9a9a9;
    font-weight: 600;
}

/* .nav-link {
    padding: 8px 12px;
    font-size: 14px;
    color: #383838;
} */
.links-cointainer{
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    border: 1px solid #d1d1d1;
}
.nav-link{
    padding: 8px 12px;
    margin: 0px 5px;
    font-size: 14px;
    text-decoration: none;
    color: #383838;
    opacity: 0.8;
    transition: .5s;
}
.nav-link:hover{
    opacity: 1;
    color: #383838;
}